In [2]:
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv("realtor-data.csv")

In [4]:
df_grouped = df.groupby(["state", "city"])[["price"]].sum()

In [5]:
df_grouped

                                   price
state          city
Connecticut    Andover         5982100.0
               Ashford        19090100.0
               Avon           95308485.0
               Barkhamsted    24768400.0
               Berlin         17074200.0
...                                  ...
Virgin Islands Frederiksted  298829090.0
               Kingshill      76915780.0
               Saint John    325070098.0
               Saint Thomas  370573150.0
Virginia       Chincoteague     225000.0

[582 rows x 1 columns]