In [1]:
import sqlite3
import pandas as pd

In [16]:
def tabelas_bd():
    conn = sqlite3.connect("coderhouse.db")
    query = "SELECT name FROM sqlite_master WHERE type='table'"
    schema = pd.read_sql(query, conn)
    conn.close()
    return schema

In [17]:
def salva_bd(df, nome_tabela):
    conn = sqlite3.connect("coderhouse.db")
    salva_df = df.to_sql(nome_tabela, conn, if_exists='replace', index=False)
    conn.close()
    return salva_df

In [18]:
def carrega_bd(nome_tabela):
    conn = sqlite3.connect('coderhouse.db')
    query = f"SELECT * FROM {nome_tabela}"
    df_query = pd.read_sql(query, conn)
    conn.close()
    return df_query

   vasco  fraengo
0      1        0
1      2        0
2      3        0